
body{
    width: 100%;
    background-color: #C58D69;
    margin: 0%;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
        background: radial-gradient(circle at 50% 49%,rgba(197,141,105,1), rgb(143, 103, 78))

}


header{
    background-color: #dcb791;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 5px 0px 5px 0px;

}


/*@media (min-width: 600px){
    header{
        background-color: #3498db;
    }
}*/


.div_logo {
grid-column: 2/3;
display: flex;
justify-content: center;
align-items: center;
}
.logo{
    width: 100px;
}


.div_home {
grid-column: 3/4;
display: flex;
justify-content: flex-end;
align-items: self-start;
}

.logo{
    width: 100px;
}


.menu_seccion{
    grid-column: 1/2;
    background-color: red;
    grid-row: 1/4;
}

.nav_link{
    color: #ffffff;
    display: block;
    padding: 5px;
    text-decoration: none;
}

.nav_link--inside{
    border-radius: 6px;
    
   
}

/*.nav_link--inside:hover{
   background: #f6f4fa;
}*/

.list{
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius:  0 16px 16px 0;
 
    ;
  
    padding: 0px;
    margin: 0px;
}

.list_item{
    list-style: none;
    width: 100%;
    text-align: start;
    overflow: hidden;
}


.list_item--click{
    cursor: pointer;
}

.list_button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    width: 70%;
    margin-left: 25px;
}

.list_arrow{
    margin-left: 10px;
}

.list_show{
    width: 80%;
    margin-left: auto;
    list-style: none;
    transition: height .4s;
    height: 0;

}

.arrow .list_arrow{
    transform: rotate(90deg);
}

.list_arrow{
    margin-left: 0px;
    transition: transform .3s;
}


.menu_container{
    background-color: #46220f;
    margin-top: 10px;
    height: 28px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
}

.menu_container a{
    text-decoration: none;
    color: white;
}


/*TITULO 1*/
h1{
    color: white;
    font-size: 40px;
    
   
}



.container{
    width: 100%;
 
    height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}


@media (max-width: 682px){
    .container{
      
        height: 450px;
    }
}

.container .targeta{
    width: 150px;
    height: 180px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(255, 255, 255, 0.5);
    
}

.container .targeta:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container .targeta img{
    
    width: 100%;
    height: 70%;
   
    
}

.container .targeta h4{
    margin: 0px;
    font-size: 20px;
    color: white

}

.container .targeta p{
    margin: auto;
    margin-bottom: 60px;
    padding: 0 1rem;
    font-size: 18px;
    font-weight: bold;
    color:#3498db;
}

.container .targeta a{
    font-weight: 500px;
    text-decoration: none;
    color: #3498db;
}

/*BOTON EDIT*/
.edit_populares{
    width: 36px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    
}

.edit_img_populares{
    width: 36px;
    margin-left: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
   
}


/*MID_PASTELERIA*/
.mid_pasteleria{
    
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
    justify-content: center;
    
}
/*PASTELERIA*/

.mid_pasteleria .plus{
    width: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    

}

.mid_pasteleria a{
  display: contents;
}
.container_pasteleria{
    
    width: 100%;
   max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
   
}

.container_pasteleria .targeta_pasteleria{
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(4,20px);
    width: 80%;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(85, 85, 85, 0.5);
  
    
}

.container_pasteleria .targeta_pasteleria:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container_pasteleria .targeta_pasteleria img{
   grid-column: 1/2;
   grid-row: 1/2;
    width: 100px;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;

    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container_pasteleria .targeta_pasteleria h4{
    font-size: 12px;
    grid-column: 2/5;
    grid-row: 0/1;
    font-weight: bold;
    font-size: 15px;
    font-weight: 600px;
    color: white;
    margin-bottom: 20px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container_pasteleria .targeta_pasteleria p{
    display: flex;
    align-items: self-start;
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 300px;
    font-weight: 600px;
    color: white;
    grid-column: 2/5;
    grid-row: 2/3;
    
}

.container_pasteleria .targeta_pasteleria h3{
    grid-column: 6/7;
    grid-row: 2/3;
    
    font-weight: 500px;
    text-decoration: none;
    color: #3498db;
    font-size: 30px;
    margin: auto;
}


/*LOGO EDIT*/
.container_pasteleria .targeta_pasteleria .edit{
    grid-column: 4/5;
    grid-row: 2/4;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px;
  
}
/*LOGO DELETE*/
.container_pasteleria .targeta_pasteleria .delete{
    grid-column: 5/6;
    grid-row: 2/4;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px;
 }



 .container_pasteleria .targeta_pasteleria .edit_img {
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 35px;
    width: 40px;
    height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  grid-column: 1/2;
  grid-row: 1/3;  
 }




 /* MID CONTAINER*/
 .mid_brunch{
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
}

.mid_brunch .plus{
    width: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 10px;

}

.mid_brunch a{
  display: contents;
}
/* CONTAINER brunch*/


.container_brunch{
    
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
   list-style: none;
}

.container_brunch .targeta_brunch{
    width: 80%;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,50px);
  
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 5px;
    
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(85, 85, 85, 0.5);
  
    
}

.container_brunch .targeta_brunch:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container_brunch .targeta_brunch img{
   grid-column: 1/3;
   grid-row: 1/3;
    width: 80%;
    height: 110px;
    margin-top: 20px;

    margin-left: 15px;

    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container_brunch .targeta_brunch h4{
    font-size: 12px;
    grid-column: 2/5;
    grid-row: 0/1;
    font-weight: bold;
    font-size: 15px;
    font-weight: 600px;
    color: white;
    margin-bottom: 20px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container_brunch  ul{
    grid-column: 3/5;
    grid-row: 1/4;
    display: flex;
   
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0%;
    margin: 0%;
  
    
   
}
.container_brunch  li{
   
   
    text-align: start;
    list-style: none;
    font-size: 12px;
    color: white;

}

.container_brunch .targeta_brunch p{
    display: flex;
    align-items: self-start;
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 300px;
    font-weight: 600px;
    color: white;
    grid-column: 2/5;
    grid-row: 2/3;
    
}

.container_brunch .targeta_brunch h3{
    grid-column: 6/7;
    grid-row: 2/3;
    
    font-weight: 500px;
    text-decoration: none;
    color: #3498db;
    font-size: 30px;
    margin: auto;
    
}

/*LOGO EDIT*/
.container_brunch .targeta_brunch .edit{
    grid-column: 4/5;
    grid-row: 2/3;   
  /*  background-color: #3498db;*/
 
  margin: auto;
 
  width: 40px;
  height: 40px;
 }
 /*LOGO DELETE*/
 .container_brunch .targeta_brunch .delete{
    grid-column: 5/6;
    grid-row: 2/3;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px;
  }
 

  /*EDIT IMG*/
  .container_brunch .targeta_brunch .edit_img {
    position: relative;
    opacity: 0.5;
    margin-top: auto;
    margin-left: auto;
    width: 40px;
    height: 40px;
  background-color: rgba(255, 255, 255, .5);
  grid-column: 1/2;
  grid-row: 1/3;  
 }
  .mid_salados{
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
}

.mid_salados .plus{
    width: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 10px;

}

.mid_salados a{
  display: contents;
}
 /*CONTAINER SALADOs*/

 
 .container_salados{
     
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    
 }
 
 .container_salados .targeta_salados{
     
     display: grid;
     grid-template-columns: repeat(6,1fr);
     grid-template-rows: repeat(3,20px);
     width: 80%;
     height: 80px;
     border-radius: 8px;
     box-shadow: 0 5px 5px rgba(0,0,0,0.2);
     overflow: hidden;
     margin: 10px;
     
     text-align: center;
     transition: all 0.25s;
     background-color: rgba(85, 85, 85, 0.5);
   
     
 }
 
 .container_salados .targeta_salados:hover{
     transform: translateY(-15px);
     box-shadow: 0 12px 16px rgba(0,0,0,0.2);
 }
 
 .container_salados .targeta_salados img{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100px;
    height: 70px;
     margin-bottom: 5px;
     margin-top: 5px;
     margin-left: 5px;
 
     border-radius: 8px;
     box-shadow: 0 5px 5px rgba(0,0,0,0.2);
     overflow: hidden;
 
     display: flex;
     justify-content: center;
     align-items: center;
     
     
 }
 
 .container_salados .targeta_salados h4{

    font-size: 12px;
    grid-column: 2/5;
    grid-row: 0/1;
    font-weight: bold;
    font-size: 15px;
    font-weight: 600px;
    color: white;
    margin-bottom: 20px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
 }
 
 .container_salados .targeta_salados p{
    display: flex;
    align-items: self-start;
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 50px;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 300px;
    font-weight: 600px;
    color: white;
    grid-column: 2/5;
    grid-row: 2/3;
     
 }
 
 .container_salados .targeta_salados h3{
    grid-column: 6/7;
    grid-row: 2/3;
    
    font-weight: 500px;
    text-decoration: none;
    color: #3498db;
    font-size: 30px;
    margin: auto;;
 }

 /*LOGO EDIT*/
.container_salados .targeta_salados .edit{
    grid-column: 4/5;
    grid-row: 2/4;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px;
 }
 /*LOGO DELETE*/
 .container_salados .targeta_salados .delete{
    grid-column: 5/6;
    grid-row: 2/4;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px;
  }

  /*LOGO EDIT_IMG*/
  .container_salados .targeta_salados .edit_img {
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 35px;
    width: 40px;
    height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  grid-column: 1/2;
  grid-row: 1/3;  
 }




 
 /*MID_BEBIDAS*/
 .mid_bebidas{
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);;
}

.mid_bebidas .plus{
    width: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 10px;

}

.mid_bebidas a{
  display: contents;
}

 /* CONTAINTER BEBIDAS*/


 .container_bebidas{
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.container_bebidas .targeta_bebidas{
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,20px);
    width: 80%;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(85, 85, 85, 0.5);
  
    
}

.container_bebidas .targeta_bebidas:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container_bebidas .targeta_bebidas img{
   grid-column: 1/2;
   grid-row: 1/2;
   width: 100px;
    height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;

    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container_bebidas .targeta_bebidas h4{
    font-size:12px;
    grid-column: 2/4;
    grid-row: 0/1;

    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container_bebidas .targeta_bebidas p{
    
    display: flex;
    align-items: flex-start;

    
    margin-left: 9px;
    margin-top: 5px;
    
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    grid-column: 2/6;
    grid-row: 2/3;
    
}

.container_bebidas .targeta_bebidas h3{
    grid-column: 6/7;
    grid-row: 2/3;
    
    font-weight: 500px;
    text-decoration: none;
    color: #3498db;
    font-size: 30px;
    margin: auto;
}

/*LOGO EDIT*/
.container_bebidas .targeta_bebidas .edit{
    grid-column: 4/5;
    grid-row: 2/4;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px
 }
 /*LOGO DELETE*/
 .container_bebidas .targeta_bebidas .delete{
    grid-column: 5/6;
    grid-row: 2/4;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px;
  }

  /*EDIT IMAGEN*/
  .container_bebidas .targeta_bebidas .edit_img {
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 35px;
    width: 40px;
    height: 40px;

  background-color: rgba(255, 255, 255, 0.5);
  grid-column: 1/2;
  grid-row: 1/3;  
 } 
/*CONTAINER CAFES*/

.mid_cafes{
    justify-content: center;
    display: grid;
    grid-template-rows: repeat(1,1fr);
    grid-template-columns: repeat(1,1fr);
}

.mid_cafes .plus{
    width: 40px;
    display: flex;
    margin: auto;
    margin-bottom: 10px;

}

.mid_cafes a{
  display: contents;
}

.container_cafes{
     
    width: 100%;
    max-width: 1200px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
   
}

.container_cafes .targeta_cafes{
    
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(3,20px);
    width: 80%;
    height: 80px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 10px;
    
    text-align: center;
    transition: all 0.25s;
    background-color: rgba(85, 85, 85, 0.5);
  
    
}

.container_cafes .targeta_cafes:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0,0,0,0.2);
}

.container_cafes .targeta_cafes img{
   grid-column: 1/2;
   grid-row: 1/2;
   width: 100px;
   height: 70px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 5px;

    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.container_cafes .targeta_cafes h4{
    font-size: 12px;
    grid-column: 2/4;
    grid-row: 0/1;

    font-weight: bold;
    font-size: 15px;
    color: white;
    margin-bottom: 20px;
    margin-left: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container_cafes .targeta_cafes p{
    
    display: flex;
    align-items: self-start;

    
    margin-left: 8px;
    margin-top: 10px;
    margin-bottom: 50px;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 300;
    color: rgb(255, 255, 255);
    grid-column: 2/5;
    grid-row: 2/3;
    
}

.container_cafes .targeta_cafes h3{
    grid-column: 6/7;
    grid-row: 2/3;
    
    font-weight: 500px;
    text-decoration: none;
    color: #3498db;
    font-size: 30px;
    margin: auto;
}



 /*LOGO EDIT*/
 .container_cafes .targeta_cafes .edit{
    grid-column: 4/5;
    grid-row: 2/4;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px;
 }
 /*LOGO DELETE*/
 .container_cafes .targeta_cafes .delete{
    grid-column: 5/6;
    grid-row: 2/4;   
  /*  background-color: #3498db;*/
 
  margin: auto;
  width: 40px;
  height: 40px;
  }

/*EDIT IMG*/

.container_cafes .targeta_cafes .edit_img {
    opacity: 0.5;
    margin-top: 20px;
    margin-left: 35px;
    width: 40px;
    height: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  grid-column: 1/2;
  grid-row: 1/3;  
 }

 footer{
    margin-top: 15px;
    background-color:#FCDEC0;
    height: 30px;
}

