
body{
   
    font-family: 'Sen', sans-serif;
    background-color: #e5e5f7;
    opacity: 0.8;
    background: radial-gradient(circle at 50% 49%,rgba(197,141,105,1), rgb(143, 103, 78));
    max-height: 500px;
  
}

.form{
  background-color: #865439;
margin: auto;
margin-top: 50%;
  width:  90%;
  max-width: 400px;
  padding: 4.5em 3em;
  border-radius: 10px;
  box-shadow: 0 5px 10px -5px rgb(0 0 0 / 30%);
  text-align: center;
}

.form__title{
  font-size: 2rem;
  margin-top: 0%;
  margin-bottom: .5em;
  color: white;
}


.form__container{
  margin-top: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap:2.5em;

}



.form_group{
  position: relative;
  --color:#5757577e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


input{
  width: 300px;
  border: 16px;
  height: 20px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  background-color: rgba(242, 236, 236, 0.5);
  margin-top: 50px;
  
}
.form__input{
  width: 100%;
  color: #18e07c;
  font-size: 1rem;
  padding: .6em  .3em;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color);

}

.form__input:focus + .form__label{
  transform: translateY(-12px) scale(.7);
  transform-origin: left top;
  color: red;
}


.form__label{
  color: #8FC1D4;
  margin-bottom: 15px;
 
}

.form__informacion{
  height:80px;
  background-color: rgba(242, 236, 236, 0.5);
  
}
.ckeditor{
  color: #8FC1D4;
}
.ckeditor label{
  display: none;
}

.ckeditor input:nth-child(2){
  display: none;
}

/*.form__descripcion{
  height:80px;
  background-color: rgba(242, 236, 236, 0.5);
  
}*/
.input__form{
  background-color: blue;
  color: red;
}

.form__submit{
  width: 150px;
  height: 40px;
  border-radius:  10px  ;
  font-family: 'Sen', sans-serif;
  font-size: .9rem;
  color: rgb(227, 227, 227);
  background-color: #8fd4a3;
  box-shadow: 0 5px 5px rgba(0,0,0,0.5);
  border: none;
  margin-top: 50px;
}


/*.form__label{
  color: var(-color);
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(10px);
  transition: transform .5s,color .3s;
  background-color: red;
}
*/