{% extends 'almendra_app/inicio.html' %}

{% load static %}


{% block pasteleria %}
<section class="mid_pasteleria">
{% for p in form %}

<div class="container_pasteleria">
     <div class="targeta_pasteleria">
        <img src={{ p.imagen|safe }}
        <h4>{{ p.titulo|safe }}</h4>
        
        <p>{{ p.descripcion }}</p>
        <h3>{{ p.precio }}</h3>
    </div>
</div>


{% endfor %}
</section>
{% endblock %}



{% block brunch %}
{% endblock %}

{% block salados %}
{% endblock %}

{% block bebidas %}
{% endblock %}

{% block cafes %}
{% endblock %}

<script src="script.js"></script>
